
project_id = "zpxwupykirsrazbrvdxr"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost:54321"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true
port = 54325

[auth]
enabled = true
port = 54326

[realtime]
enabled = true

[analytics]
enabled = true
port = 54327

[vector]
enabled = true
port = 54328

[functions]
[functions.save-order]
verify_jwt = false
[functions.create-razorpay-payment]
verify_jwt = false
[functions.verify-razorpay-payment]
verify_jwt = false
[functions.send-owner-notification]
verify_jwt = false
[functions.approve-qr-payment]
verify_jwt = false
